.emp-profile {
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}

.profile-img {
    position: relative;
    text-align: center;
}

.div-img {
    position: relative;
    width: 70%;
    height: 100%;
}

.profile-img img {
    width: 100%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

.profile-head h5 {
    color: #333;
}

.profile-head h6 {
    color: #FCA03E;
}

.profile-edit-btn {
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    color: #6c757d;
    cursor: pointer;
}

.proile-rating {
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}

.proile-rating span {
    color: #495057;
    font-size: 15px;
}

.profile-head .nav-tabs {
    margin-bottom: 5%;
}

.profile-head .nav-tabs .nav-link {
    border: none;
}

.profile-head .nav-tabs .nav-link.active {
    border: none;
    border-bottom: 2px solid #FCA03E;
}

.profile-work {
    position: relative;
    padding: 14%;
    margin-top: -15%;
}

.profile-work p {
    font-size: 12px;
    color: #818182;
    margin-top: 10%;
}

.profile-work a {
    text-decoration: none;
    color: #495057;
    font-size: 14px;
}

.profile-work ul {
    list-style: none;
}

.profile-tab label {}

.profile-tab p {
    color: #FCA03E;
}

.bio {
    margin-top: -100px;
}

#home-tab,
#profile-tab {
    color: #000;
}

.verified {
    font-size: 30px;
    z-index: 9999;
    position: absolute;
    top: 5%;
    right: 10%;
    width: 40px;
    height: 40px;
    background: #000;
    border-radius: 999px;
    text-align: center;
    color: #fff;
}

.visitas {
    position: absolute;
    top: 0;
    right: 0;
}

@media (max-width: 991px) {
    .verified {
        font-size: 22px;
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 768px) {
    .bio {
        margin-top: 30px;
    }
    .div-img {
        max-width: 120px;
        margin: 0px auto;
    }
    .profile-head h5,
    .profile-head h6 {
        text-align: center;
    }
    .profile-work {
        padding: 0;
        margin-top: -20px;
    }
    .profile-work p {
        margin-top: 30px;
    }
}

@media (max-width: 575px) {
    .content {
        padding: 20px;
    }
    .visitas {
        right: 10;
    }
}

@media (max-width: 500px) {
    .div-img {
        max-width: 80px;
        margin: 0;
    }
    .profile-head h5,
    .profile-head h6 {
        text-align: left;
    }
    .content {
        padding: 0px;
    }
}